.block{
    height: 80px;
    width: 80px;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    border-collapse: collapse;
    background-repeat: no-repeat;
    background-position: center; 
   
  
}
.block img {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 50px;
  height: 50px;
}
.block a :hover {
  height: 60px;
  width:  60px;
  margin-top: 13px;
  
}
#s1r1{
  height: 30px;
  background-position: bottom;
}
#s2r1{
  height: 30px;
  background-position: bottom;
}
#s3r1{
  height: 30px;
  background-position: bottom;
}
#s4r1{
  height: 30px;
  background-position: bottom;
}
#s5r1{
  height: 30px;
  background-position: bottom;
}
#s6r1{
  height: 30px;
  background-position: bottom;
}
#s7r1{
  height: 30px;
  background-position: bottom;
}

#s1r1{
  width: 30px;
  background-position: right;
}
#s1r2{
  width: 30px;
  background-position: right;
}
#s1r3{
  width: 30px;
  background-position: right;
}
#s1r4{
  width: 30px;
  background-position: right;
}
#s1r5{
  width: 30px;
  background-position: right;
}
#s1r6{
  width: 30px;
  background-position: right;
}

.row{
    display: block;
    float:left;
    clear:left;
}

#s3r2{
   background-image: url(../images/MenuWithGrid-10.png);
   background-repeat: no-repeat;
}

#s2r3{
   background-image: url(../images/MenuWithGrid-16.png);
   background-repeat: no-repeat; 
}
#s3r3{
   background-image: url(../images/MenuWithGrid-17.png);
   background-repeat: no-repeat;
}
#s4r3{
   background-image: url(../images/MenuWithGrid-18.png);
   background-repeat: no-repeat;
}
#s5r3{
    background-image: url(../images/MenuWithGrid-19.png);
    background-repeat: no-repeat;
}

#s2r4{
    background-image: url(../images/MenuWithGrid-23.png);
}
#s3r4{
    background-image: url(../images/MenuWithGrid-24.png);
}
#s4r4{
    background-image: url(../images/MenuWithGrid-25.png);
   background-repeat: no-repeat;
}
#s5r4{
    background-image: url(../images/MenuWithGrid-26.png);
    background-repeat: no-repeat;
}

#s3r5{
    background-image: url(../images/MenuWithGrid-31.png);
    background-repeat: no-repeat;
}
#s4r5{
    background-image: url(../images/MenuWithGrid-32.png);
    background-repeat: no-repeat;
}
#nav {
  position:absolute;
  top:60px;
  left:10px;

}
